Farmacia_/Farmacia_/Service References/Pablo/WSFarmacia11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservices.sa/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WSFarmacia11" targetNamespace="http://webservices.sa/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.43.202:8080/WSFarmacia11/WSFarmacia11?xsd=1" namespace="http://webservices.sa/" />
    </xsd:schema>
  </types>
  <message name="obtener_pedidos">
    <part name="parameters" element="tns:obtener_pedidos" />
  </message>
  <message name="obtener_pedidosResponse">
    <part name="parameters" element="tns:obtener_pedidosResponse" />
  </message>
  <message name="obtener_detalle_pedido">
    <part name="parameters" element="tns:obtener_detalle_pedido" />
  </message>
  <message name="obtener_detalle_pedidoResponse">
    <part name="parameters" element="tns:obtener_detalle_pedidoResponse" />
  </message>
  <message name="cancelar_pedido">
    <part name="parameters" element="tns:cancelar_pedido" />
  </message>
  <message name="cancelar_pedidoResponse">
    <part name="parameters" element="tns:cancelar_pedidoResponse" />
  </message>
  <message name="verificar_existencia">
    <part name="parameters" element="tns:verificar_existencia" />
  </message>
  <message name="verificar_existenciaResponse">
    <part name="parameters" element="tns:verificar_existenciaResponse" />
  </message>
  <message name="agregar_detalle_pedido">
    <part name="parameters" element="tns:agregar_detalle_pedido" />
  </message>
  <message name="agregar_detalle_pedidoResponse">
    <part name="parameters" element="tns:agregar_detalle_pedidoResponse" />
  </message>
  <message name="agregar_pedido">
    <part name="parameters" element="tns:agregar_pedido" />
  </message>
  <message name="agregar_pedidoResponse">
    <part name="parameters" element="tns:agregar_pedidoResponse" />
  </message>
  <message name="agregar_producto">
    <part name="parameters" element="tns:agregar_producto" />
  </message>
  <message name="agregar_productoResponse">
    <part name="parameters" element="tns:agregar_productoResponse" />
  </message>
  <message name="consultar_catalogo_clientes">
    <part name="parameters" element="tns:consultar_catalogo_clientes" />
  </message>
  <message name="consultar_catalogo_clientesResponse">
    <part name="parameters" element="tns:consultar_catalogo_clientesResponse" />
  </message>
  <message name="consultar_catalogo_medicamentos">
    <part name="parameters" element="tns:consultar_catalogo_medicamentos" />
  </message>
  <message name="consultar_catalogo_medicamentosResponse">
    <part name="parameters" element="tns:consultar_catalogo_medicamentosResponse" />
  </message>
  <message name="buscar_cliente">
    <part name="parameters" element="tns:buscar_cliente" />
  </message>
  <message name="buscar_clienteResponse">
    <part name="parameters" element="tns:buscar_clienteResponse" />
  </message>
  <message name="pagar_pedido">
    <part name="parameters" element="tns:pagar_pedido" />
  </message>
  <message name="pagar_pedidoResponse">
    <part name="parameters" element="tns:pagar_pedidoResponse" />
  </message>
  <message name="agregar_cliente">
    <part name="parameters" element="tns:agregar_cliente" />
  </message>
  <message name="agregar_clienteResponse">
    <part name="parameters" element="tns:agregar_clienteResponse" />
  </message>
  <portType name="WSFarmacia11">
    <operation name="obtener_pedidos">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/obtener_pedidosRequest" message="tns:obtener_pedidos" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/obtener_pedidosResponse" message="tns:obtener_pedidosResponse" />
    </operation>
    <operation name="obtener_detalle_pedido">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/obtener_detalle_pedidoRequest" message="tns:obtener_detalle_pedido" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/obtener_detalle_pedidoResponse" message="tns:obtener_detalle_pedidoResponse" />
    </operation>
    <operation name="cancelar_pedido">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/cancelar_pedidoRequest" message="tns:cancelar_pedido" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/cancelar_pedidoResponse" message="tns:cancelar_pedidoResponse" />
    </operation>
    <operation name="verificar_existencia">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/verificar_existenciaRequest" message="tns:verificar_existencia" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/verificar_existenciaResponse" message="tns:verificar_existenciaResponse" />
    </operation>
    <operation name="agregar_detalle_pedido">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/agregar_detalle_pedidoRequest" message="tns:agregar_detalle_pedido" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/agregar_detalle_pedidoResponse" message="tns:agregar_detalle_pedidoResponse" />
    </operation>
    <operation name="agregar_pedido">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/agregar_pedidoRequest" message="tns:agregar_pedido" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/agregar_pedidoResponse" message="tns:agregar_pedidoResponse" />
    </operation>
    <operation name="agregar_producto">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/agregar_productoRequest" message="tns:agregar_producto" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/agregar_productoResponse" message="tns:agregar_productoResponse" />
    </operation>
    <operation name="consultar_catalogo_clientes">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/consultar_catalogo_clientesRequest" message="tns:consultar_catalogo_clientes" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/consultar_catalogo_clientesResponse" message="tns:consultar_catalogo_clientesResponse" />
    </operation>
    <operation name="consultar_catalogo_medicamentos">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/consultar_catalogo_medicamentosRequest" message="tns:consultar_catalogo_medicamentos" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/consultar_catalogo_medicamentosResponse" message="tns:consultar_catalogo_medicamentosResponse" />
    </operation>
    <operation name="buscar_cliente">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/buscar_clienteRequest" message="tns:buscar_cliente" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/buscar_clienteResponse" message="tns:buscar_clienteResponse" />
    </operation>
    <operation name="pagar_pedido">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/pagar_pedidoRequest" message="tns:pagar_pedido" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/pagar_pedidoResponse" message="tns:pagar_pedidoResponse" />
    </operation>
    <operation name="agregar_cliente">
      <input wsam:Action="http://webservices.sa/WSFarmacia11/agregar_clienteRequest" message="tns:agregar_cliente" />
      <output wsam:Action="http://webservices.sa/WSFarmacia11/agregar_clienteResponse" message="tns:agregar_clienteResponse" />
    </operation>
  </portType>
  <binding name="WSFarmacia11PortBinding" type="tns:WSFarmacia11">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtener_pedidos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtener_detalle_pedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cancelar_pedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificar_existencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregar_detalle_pedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregar_pedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregar_producto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultar_catalogo_clientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultar_catalogo_medicamentos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscar_cliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pagar_pedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregar_cliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSFarmacia11">
    <port name="WSFarmacia11Port" binding="tns:WSFarmacia11PortBinding">
      <soap:address location="http://192.168.43.202:8080/WSFarmacia11/WSFarmacia11" />
    </port>
  </service>
</definitions>